body,
button,
#new-task
{
  font-family: 'DM Sans';
}

.header 
{
  display: flex;
  width: 100%;
  justify-content: center;
}

#new-task
{
  width: 100%;
  max-width: 20rem;
  padding-left: 0.5rem;
  border: none;
  background-color: rgb(228, 228, 228);
  transition: opacity 1ms;
}

#new-task:focus,
input[type="text"]:focus
{
  font-family: 'DM Sans';
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: rgb(227, 236, 255);
  opacity: 0.7;
}

#new-task
{
  height: 2rem;
}

.add-button
{
  width: 5rem;
  border: 0.01rem solid rgb(75, 132, 255);
  background-color: white;
  color: rgb(75, 132, 255);
  transition: background-color 1ms;
  transition: color 1ms;
  transition: opacity 1ms;
}

.add-button:hover,
.filter-buttons button:hover
{
  background-color: rgb(75, 132, 255);
  color: white;
}

.add-button:active,
.delete-button:active,
.filter-buttons button:active
{
  opacity: 0.7;
}

#task-count 
{
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-family: 'DM Sans';
  width: auto;
  padding: 0.5rem;
  background-color: rgb(227, 236, 255); 
  border: none;
  border-radius: 5%;
}

.filter-buttons 
{
  display: flex;
  width: 25rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin: auto;
}

.filter-buttons button 
{
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 10px;
  border: 0.01rem solid rgb(75, 132, 255);
  background-color: white;
  color: rgb(75, 132, 255);
  transition: background-color 1ms;
  transition: color 1ms;
  transition: opacity 1ms;
}


#task-list 
{
  flex-direction: column;
  list-style: none;
  padding: 0;
}

#task-list li
{
  display: grid;
  grid-template-columns: 1rem 9rem 5rem;
  align-content: center;
  justify-content: center;
  column-gap: 5rem;
  margin-bottom: 0.2rem;
}

.checkbox 
{
  appearance: none; /* remove default style */
  width: 1rem;
  height: 1rem;
  border: 1px solid #555;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}


.checkbox:checked::after {
  content: '✔';
  color: #555;
  position: absolute;
  left: 2px;
  top: -2px;
}


.delete-button {
  border: 0.01rem solid rgb(201, 0, 0);
  border-radius: 0.1rem;
  background-color: white;
  color: rgb(201, 0, 0);
  transition: background-color 1ms;
  transition: color 1ms;
  transition: opacity 1ms;
}

.delete-button:hover
{
  background-color: rgb(201, 0, 0);
  color: white;
}

